/* Styles de base */

body {
    display: flex;
    flex-direction: column;
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    height: 100vh;
}

main {
    flex-grow: 1;
    text-align: -webkit-center;
    position: relative;
    min-height: calc(100vh - (headerHeight + footerHeight));
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/main.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.5;
    z-index: -1;
}

header {
    display: flex;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    text-align: center;
    box-shadow: 0px -8px 11px 0px;
    flex-direction: row;
    align-content: center;
    justify-content: space-evenly;
}

header h1 {
    font-size: 36px;
    margin: 0;
}

header p {
    font-size: 18px;
    margin: 5px 0 0 0;
}

.navbar {
    align-content: center;
}

a {
    padding-left: 15px;
    text-decoration: none;
    color: black;
}

footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 8px 11px 0px;
}


/* ACCUEIL STYLE*/
.accueil {
    margin-block: 50px;
    border-radius: 5px;
    background-color: #e4a3ab38;
    width: 30%;
    height: 700px;
}

.texte-accueil {
    padding: 20px;
    color: #00000091;
}

.paragraphe {
    padding-inline: 50px;
    padding-top: 20px;
}

.gallery-deux {
    height: 80vh;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* Trois colonnes égales */
    gap: 20px; /* Espacement entre les images */
}

.gallery-deux > div {
    /* Optionnel: pour centrer verticalement et horizontalement le contenu */
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-deux img {
    max-width: 80%; /* Pour empêcher les images de dépasser de leur conteneur */
}

.trois-en-un {
    border: 1px solid #000000;
}

.trois-en-un:hover {
    border: 1px solid #ffebff;
}
/* MICRO NOUVELLES STYLE */
.gallery {
    padding: 20px;
    width: 60%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.image {
    overflow: hidden;
}

.image img {
    width: 90%;
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
    border: solid 1px #000000;
    border-radius: 2px;
}

.image img:hover {
    border: solid 1px #ffebff;
}

.image.flou {
    filter: brightness(0.1)
}


.fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    display: none;
}

.fullscreen-image img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

.fullscreen-button {
    font-family: "Lobster Two", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    position: fixed;
    top: 120px;
    right: 6%;
    font-size: 20px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, #fdfaef, #da9b96);
    border: solid white 0.5px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
        -6px -6px 10px rgba(255, 255, 255, .5),
        6px 6px 8px rgba(255, 255, 255, .075),
        6px 6px 10px rgba(0, 0, 0, .15);
}

.fullscreen-button:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
        -2px -2px 4px rgba(255, 255, 255, .4),
        2px 2px 2px rgba(255, 255, 255, .05),
        2px 2px 4px rgba(0, 0, 0, .1);
}

.fullscreen-button:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
        inset -2px -2px 4px rgba(255, 255, 255, .5),
        inset 2px 2px 2px rgba(255, 255, 255, .075),
        inset 2px 2px 4px rgba(0, 0, 0, .15);
}

.reset-button {
    font-family: "Lobster Two", sans-serif;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    text-shadow: #000000 1px 1px 1px 1px;
    position: fixed;
    top: 210px;
    right: 6.5%;
    font-size: 20px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-image: linear-gradient(to bottom right, #fdfaef, #da9b96);
    border: solid white 0.5px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
        -6px -6px 10px rgba(255, 255, 255, .5),
        6px 6px 8px rgba(255, 255, 255, .075),
        6px 6px 10px rgba(0, 0, 0, .15);
}

.reset-button:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
        -2px -2px 4px rgba(255, 255, 255, .4),
        2px 2px 2px rgba(255, 255, 255, .05),
        2px 2px 4px rgba(0, 0, 0, .1);
}

.reset-button:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
        inset -2px -2px 4px rgba(255, 255, 255, .5),
        inset 2px 2px 2px rgba(255, 255, 255, .075),
        inset 2px 2px 4px rgba(0, 0, 0, .15);
}


/* ANIMATION */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.image img {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.animate {
    opacity: 0;
    animation: fadeIn 2s ease forwards;
}

.animate:nth-child(1) {
    animation-delay: 3.2s;
}

.animate:nth-child(2) {
    animation-delay: 3.7s;
}

.animate:nth-child(3) {
    animation-delay: 4.2s;

}.animate:nth-child(4) {
    animation-delay: 4.7s;
}


/* MEDIA */

@media screen and (max-width: 980px) {
    header {
        font-size: 20px;
    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        padding: 10px;
    }

    .fullscreen-image img {
        position: absolute;
        top: 50%;
        bottom: 50%;
    }

    .fullscreen-button {
        top: 90%;
        right: 3%;
        height: 80px;
        width: 80px;
    }

    .reset-button {
        top: 80%;
        right: 3%;
        height: 80px;
        width: 80px;
    }
}

@media screen and (max-width: 660px) {
    header {
        font-size: 20px;
    }

    .gallery {
        grid-template-columns: repeat(1, 1fr);
        padding: 10px;
    }

    .fullscreen-image img {
        position: absolute;
        top: 50%;
        bottom: 50%;
    }
}