/* Styles de base */
body {
    font-family: "Lobster Two", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
}

main {
    text-align: -webkit-center;
    position: relative;
    /* Assurez-vous que le positionnement est relatif pour que les éléments enfants positionnés absoluement soient placés correctement */
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/main.jpg');
    background-size: cover;
    /* Pour s'assurer que l'image de fond couvre tout le conteneur */
    background-position: center;
    opacity: 0.5;
    z-index: -1;
    /* Assurez-vous que l'image de fond est positionnée en arrière-plan */
}

header {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    text-align: center;
    box-shadow: 0px -8px 11px 0px;
    /* Ajout d'une bordure en bas */
}

/* Style du titre */
header h1 {
    font-size: 36px;
    margin: 0;
}

/* Style du sous-titre */
header p {
    font-size: 18px;
    margin: 5px 0 0 0;
}


.gallery {
    padding: 20px;
    width: 50%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Trois colonnes égales */
    grid-gap: 20px;
    /* Espace entre les images */
}

.image {
    overflow: hidden;
}

.image img {
    width: 90%;
    height: auto;
    transition: transform 0.3s ease;
    cursor: pointer;
    border: solid 1px #000000;
    border-radius: 2px;
}

.image img:hover {
    border: solid 1px #ffebff;
}

/* Ajoutez un peu de style pour que l'image occupe tout l'écran */
.fullscreen-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    /* Ajoutez un fond semi-transparent */
    display: none;
    /* Cachez initialement l'image */
}

.fullscreen-image img {
    display: block;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
}

footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 8px 11px 0px;
}

.fullscreen-button {
    font-family: "Lobster Two", sans-serif;
    font-weight: bold;
    font-style: normal;
    position: fixed;
    top: 120px;
    right: 5%;
    font-size: 25px;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    /* Pour rendre le bouton circulaire */
    background-image: linear-gradient(to right, #f0cdc2, #ffffff);
    /* Utilisez la fonction linear-gradient pour le dégradé de couleur */
    border: solid white 0.5px;
    text-align: center;
    outline: none;
    cursor: pointer;
    transition: .2s ease-in-out;
    box-shadow: -6px -6px 14px rgba(255, 255, 255, .7),
        -6px -6px 10px rgba(255, 255, 255, .5),
        6px 6px 8px rgba(255, 255, 255, .075),
        6px 6px 10px rgba(0, 0, 0, .15);
}

.fullscreen-button:hover {
    box-shadow: -2px -2px 6px rgba(255, 255, 255, .6),
        -2px -2px 4px rgba(255, 255, 255, .4),
        2px 2px 2px rgba(255, 255, 255, .05),
        2px 2px 4px rgba(0, 0, 0, .1);
}

.fullscreen-button:active {
    box-shadow: inset -2px -2px 6px rgba(255, 255, 255, .7),
        inset -2px -2px 4px rgba(255, 255, 255, .5),
        inset 2px 2px 2px rgba(255, 255, 255, .075),
        inset 2px 2px 4px rgba(0, 0, 0, .15);
}



/* Media queries pour les téléphones */
@media only screen and (max-width: 600px) {
    header {
        font-size: 20px;
    }

    .gallery {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        padding: 10px;
    }

    .fullscreen-image img {
        position: absolute;
        top: 50%;
        bottom: 50%;
    }
}

/* Keyframes pour les animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Appliquer l'animation aux images */
.image img {
    animation: fadeIn 0.5s ease-in-out;
}